@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

$c1 : #EBEFF2;
$c2 : #3E5459;
$c3 : #8ABF54;
$c4 : #F20505;
$c5 : #FFFFFF;
$ff1 : 'Open Sans', sans-serif;
$ff2 : 'Montserrat', sans-serif;
