@import "variables1";

body {
  background-color: $c1 !important;
}

#header {
  background-color: $c1;
  height: 4.5625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.8125rem;

  .logo {
    font-family: $ff1;
    font-size: 1.2rem;
    letter-spacing: 0.44rem;
  }
}
#wrapper {
  margin-top: -1.5rem;
  min-height: 90vh;
}
.navbar-brand,
.nav-link {
  font-family: $ff2;
  font-size: 0.875rem !important;
  color: $c2;
  cursor: pointer;
}

.nav-link:hover {
  color: rgba($color: #000000, $alpha: 0.87);
  transform: translateX(4px);
  transition: 0.2s ease-in;
}
.navbar {
  span {
    color: $c2;
  }
  button {
    transform: translateX(-1.875rem);
  }
  padding: 2.1875rem 0 0 1.875rem !important;
  a:hover {
    color: $c2;
  }
  button:active,
  button:focus {
    outline: none;
  }
}

.main {
  margin: auto;
  #graph {
    margin-left: 2.8125rem;
    width: 60vw;
    height: 80vh;
    padding: 0;
    background-color: $c2;
    border-radius: 0.625rem;
    box-shadow: 0rem 0.25rem 0.9375rem rgba(0, 0, 0, 0.25);
  }

  #results {
    margin-left: 2.8125rem;
    width: 31vw;
    height: 80vh;
    background-color: #f5f7f9;
    border-radius: 0.625rem;
    .simplebar-scrollbar::before {
      background-color: rgba($color: $c2, $alpha: 0.5);
      width: 5px;
      margin: 5px 0px;
    }
    .simplebar-offset {
      padding: 5px 0px;
    }
    .card {
      width: calc((100% - 34px) / 2);
      height: auto;
      max-height: 15.1875rem;
      background-color: $c2;
      margin-left: 0.75rem;
      margin-bottom: 0.75rem;
      border-radius: 8px;
      box-shadow: 0rem 0.25rem 0.625rem rgba(0, 0, 0, 0.3);
      padding: 0.9375rem;
    }
    #render {
      padding: 5px 0px !important;
      display: flex;
      flex-wrap: wrap;
      transform: translateX(-0.9375rem);
      width: 103% !important;
    }
    p.title {
      font-family: $ff1;
      font-size: 0.8125rem;
      line-height: 1.12rem;
      letter-spacing: 0.06rem;
      color: $c5;
    }
    p.author {
      font-family: $ff1;
      font-size: 0.75rem;
      line-height: 0.875rem;
      color: #d8ddde;
      letter-spacing: 0.06rem;
    }
    .img-container {
      width: 100%;
      height: 100%;
      background-color: $c5;
      display: none;
    }
  }
}

#footer {
  background-color: $c2;
  margin-top: 5rem;
  height: 13.0625rem; //demo-pupose only
}

//Scrollbar style
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $c1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lighten($color: $c2, $amount: 40);
  border-radius: 0.625rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $c2;
}

#top-nav {
  position: sticky;
  top: 0px;
  padding: 0 2.8125rem 0 0 !important;
  background-color: $c5;
  height: 1.875rem;
  z-index: 9999;
  ul {
    list-style-type: none;
  }
  li {
    float: right;
    padding-left: 2.125rem;
  }
  a {
    text-decoration: none;
    font-family: $ff1;
    font-size: 0.75rem;
    color: $c2;
    letter-spacing: 0.05rem;
    line-height: 1rem;
  }
}
#render2 {
  padding: 0.3125rem 0rem 0.3125rem 2.5rem !important;
  display: flex;
  flex-wrap: wrap;
  transform: translateX(-0.9375rem);
  width: 103% !important;
  p.title {
    font-family: $ff1;
    font-size: 0.75rem;
    line-height: 1.0625rem;
    letter-spacing: 0.06rem;
    color: $c5;
  }
  p.author {
    font-family: $ff1;
    font-size: 0.625rem;
    line-height: 0.75rem;
    color: #d8ddde;
    letter-spacing: 0.06rem;
  }
  .img-container {
    width: 100%;
    height: 100%;
    background-color: $c5;
  }
  .card {
    width: 16.75rem;
    height: auto;
    max-height: 15.1875rem;
    background-color: $c2;
    margin: 0.625rem 0.8125rem;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.25rem 0.625rem rgba(0, 0, 0, 0.3);
    padding: 0.9375rem;
  }
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  opacity: 0.8;
  fill: $c1;
}
.dot:hover {
  stroke: #000;
}

.tooltip2 {
  position: absolute;
  width: fit-content;
  justify-content: center;
  height: 3.125rem;
  pointer-events: none;
  background-color: white;
}

.ag-theme-alpine {
  font-family: $ff1 !important;
}

.ag-row {
  font-size: 0.8125rem !important;
}

.tick {
  display: none;
}

.domain {
  display: none;
}

.tooltip {
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  box-shadow: 0rem 0.25rem 0.625rem rgba(0, 0, 0, 0.3);
  transition: 0.2s ease;
}
.tt-card {
  width: 16.75rem;
  height: auto;
  background-color: $c1;
  padding: 0.9375rem;
  p.title {
    font-family: $ff1;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    color: $c2;
  }
  p.author {
    font-family: $ff1;
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: $c2;
  }
}
