@import 'variables1';

body {background-color: $c1 !important;}

#header {
    background-color: $c1;
    height: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .center { 
        display: inline-flex;
        transform: translateX(-5vw);
        .btn.focus, .btn:focus {box-shadow: none;}
        .btn, .dropdown-item {
            color: $c2;
            font-family: $ff2;
            font-size: 0.85rem;
            letter-spacing: 0.1rem;
        }
        .dropdown-menu {min-width: 7rem; background-color: lighten($color: $c1, $amount: 3);}
        a:active{background-color: transparent;}
    }
    .logo {
        font-family: $ff1;
        font-size: 1.2rem;
        letter-spacing: 0.44rem;
    }
}

.main {
    #graph {
        width: 66vw;
        height: 60vh;
        background-color: $c2;
        border-radius: 10px;
        margin-top: 80px;
        max-width: 887px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    }
    #filters {
        width: 66vw;
        max-width: 887px;
        height: 35px; //demo-pupose only
        margin: 45px 0px;
    }
    #results {
        width: 66vw;
        max-width: 887px;
        height: 547px; //demo-pupose only
        background-color: $c5;
        border-radius: 10px;
    }
}

#footer {
    background-color: $c2;
    margin-top: 130px;
    height: 209px;//demo-pupose only
    
}

//Scrollbar style
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $c5;
    
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: lighten($color: $c2, $amount: 50);
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $c2;
  }