@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap");
body {
  background-color: #EBEFF2 !important;
}

#header {
  background-color: #EBEFF2;
  height: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 45px;
}

#header .logo {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.44rem;
}

#wrapper {
  margin-top: 40px;
  min-height: 90vh;
}

.navbar-brand,
.nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 14px !important;
  color: #3E5459;
  cursor: pointer;
}

.nav-link:hover {
  color: rgba(0, 0, 0, 0.87);
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.navbar {
  padding: 35px 0 0 30px !important;
}

.navbar span {
  color: #3E5459;
}

.navbar button {
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
}

.navbar a:hover {
  color: #3E5459;
}

.navbar button:active,
.navbar button:focus {
  outline: none;
}

.main #graph {
  margin-left: 45px;
  width: 887px;
  height: 454px;
  padding: 0;
  background-color: #3E5459;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.main #results {
  margin-top: 10px;
  margin-left: 45px;
  width: 887px;
  height: 700px;
  background-color: #f5f7f9;
  border-radius: 10px;
}

.main #results .simplebar-scrollbar::before {
  background-color: #8ABF54;
  width: 5px;
  margin: 5px 0px;
}

.main #results .simplebar-offset {
  padding: 5px 0px;
}

.main #results .card {
  width: 268px;
  height: 243px;
  background-color: #3E5459;
  margin: 10px 13px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  padding: 15px;
}

.main #results #render {
  padding: 5px 0px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
  width: 103% !important;
}

.main #results p.title {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.06rem;
  color: #FFFFFF;
}

.main #results p.author {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  line-height: 12px;
  color: #d8ddde;
  letter-spacing: 0.06rem;
}

.main #results .img-container {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}

#footer {
  background-color: #3E5459;
  margin-top: 80px;
  height: 209px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FFFFFF;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c2d1d4;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3E5459;
}

#top-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding: 0 45px 0 0 !important;
  background-color: #FFFFFF;
  height: 30px;
  z-index: 9999;
}

#top-nav ul {
  list-style-type: none;
}

#top-nav li {
  float: right;
  padding-left: 34px;
}

#top-nav a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #3E5459;
  letter-spacing: 0.05rem;
  line-height: 16px;
}

#render2 {
  padding: 5px 0px 5px 40px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
  width: 103% !important;
}

#render2 p.title {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.06rem;
  color: #FFFFFF;
}

#render2 p.author {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  line-height: 12px;
  color: #d8ddde;
  letter-spacing: 0.06rem;
}

#render2 .img-container {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}

#render2 .card {
  width: 268px;
  height: 243px;
  background-color: #3E5459;
  margin: 10px 13px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  padding: 15px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  opacity: 0.8;
  fill: #EBEFF2;
}

.dot:hover {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  pointer-events: none;
  background-color: white;
}

.ag-theme-alpine {
  font-family: "Open Sans", sans-serif !important;
}

.ag-row {
  font-size: 13px !important;
}
/*# sourceMappingURL=style.css.map */