@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap");
body {
  background-color: #EBEFF2 !important;
}

#header {
  background-color: #EBEFF2;
  height: 4.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2.8125rem;
}

#header .logo {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.44rem;
}

#wrapper {
  margin-top: -1.5rem;
  min-height: 90vh;
}

.navbar-brand,
.nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem !important;
  color: #3E5459;
  cursor: pointer;
}

.nav-link:hover {
  color: rgba(0, 0, 0, 0.87);
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.navbar {
  padding: 2.1875rem 0 0 1.875rem !important;
}

.navbar span {
  color: #3E5459;
}

.navbar button {
  -webkit-transform: translateX(-1.875rem);
          transform: translateX(-1.875rem);
}

.navbar a:hover {
  color: #3E5459;
}

.navbar button:active,
.navbar button:focus {
  outline: none;
}

.main {
  margin: auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.main #graph {
  margin-left: 2.8125rem;
  width: 60vw;
  height: 80vh;
  padding: 0;
  background-color: #3E5459;
  border-radius: 0.625rem;
  -webkit-box-shadow: 0rem 0.25rem 0.9375rem rgba(0, 0, 0, 0.25);
          box-shadow: 0rem 0.25rem 0.9375rem rgba(0, 0, 0, 0.25);
}

.main #results {
  margin-left: 2.8125rem;
  width: 31vw;
  height: 80vh;
  background-color: #f5f7f9;
  border-radius: 0.625rem;
}

.main #results .simplebar-scrollbar::before {
  background-color: rgba(62, 84, 89, 0.5);
  width: 5px;
  margin: 5px 0px;
}

.main #results .simplebar-offset {
  padding: 5px 0px;
}

.main #results .card {
  width: calc((100% - 34px) / 2);
  height: auto;
  max-height: 15.1875rem;
  background-color: #3E5459;
  margin-left: 0.75rem;
  margin-bottom: 0.75rem;
  border-radius: 8px;
  -webkit-box-shadow: 0rem 0.25rem 0.625rem rgba(0, 0, 0, 0.3);
          box-shadow: 0rem 0.25rem 0.625rem rgba(0, 0, 0, 0.3);
  padding: 0.9375rem;
}

.main #results #render {
  padding: 5px 0px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transform: translateX(-0.9375rem);
          transform: translateX(-0.9375rem);
  width: 103% !important;
}

.main #results p.title {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8125rem;
  line-height: 1.12rem;
  letter-spacing: 0.06rem;
  color: #FFFFFF;
}

.main #results p.author {
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  line-height: 0.875rem;
  color: #d8ddde;
  letter-spacing: 0.06rem;
}

#footer {
  background-color: #3E5459;
  margin-top: 5rem;
  height: 13.0625rem;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #EBEFF2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a4babf;
  border-radius: 0.625rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3E5459;
}

#top-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding: 0 2.8125rem 0 0 !important;
  background-color: #FFFFFF;
  height: 1.875rem;
  z-index: 9999;
}

#top-nav ul {
  list-style-type: none;
}

#top-nav li {
  float: right;
  padding-left: 2.125rem;
}

#top-nav a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  color: #3E5459;
  letter-spacing: 0.05rem;
  line-height: 1rem;
}

#render2 {
  padding: 0.3125rem 0rem 0.3125rem 2.5rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transform: translateX(-0.9375rem);
          transform: translateX(-0.9375rem);
  width: 103% !important;
}

#render2 p.title {
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  line-height: 1.0625rem;
  letter-spacing: 0.06rem;
  color: #FFFFFF;
}

#render2 p.author {
  font-family: "Open Sans", sans-serif;
  font-size: 0.625rem;
  line-height: 0.75rem;
  color: #d8ddde;
  letter-spacing: 0.06rem;
}

#render2 .card {
  width: 16.75rem;
  height: auto;
  max-height: 15.1875rem;
  background-color: #3E5459;
  margin: 0.625rem 0.8125rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0rem 0.25rem 0.625rem rgba(0, 0, 0, 0.3);
          box-shadow: 0rem 0.25rem 0.625rem rgba(0, 0, 0, 0.3);
  padding: 0.9375rem;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.tooltip-img:hover {
  opacity: 0.7;
  cursor: pointer;
}

.dot {
  opacity: 0.8;
  fill: #EBEFF2;
}

.dot:hover {
  stroke: #000;
}

.tooltip2 {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 3.125rem;
  pointer-events: none;
  background-color: white;
}

.ag-theme-alpine {
  font-family: "Open Sans", sans-serif !important;
}

.ag-row {
  font-size: 0.8125rem !important;
}

.tick {
  display: none;
}

.domain {
  display: none;
}

.tooltip {
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 0rem 0.25rem 0.625rem rgba(0, 0, 0, 0.3);
          box-shadow: 0rem 0.25rem 0.625rem rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.tt-card {
  width: 16.75rem;
  height: auto;
  background-color: #EBEFF2;
  padding: 0.9375rem;
}

.tt-card p.title {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  color: #3E5459;
}

.tt-card p.author {
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: #3E5459;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

#search-ip {
  width: 300px;
}

.search-btn {
  cursor: pointer;
}

.tooltip-img {
  width: 100%;
  height: 100%;
}

.img-container {
  width: 100%;
  max-height: 150px;
  overflow: hidden;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */